<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <header>
    <img src="/images/smileys.png" alt="ghost" height="60px">
    <h1>Casper</h1>
    <p>A lightweight blog journaling solution</p>
    <a href="/compose">New Post</a>
  </header>

  <body>
    <div class="container">
